/*Schrijf hier jouw CSS*/
body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
nav {
  flex-basis: 20vw;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: 80vw;
}
.col-2 header {
  flex-basis: 15%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-2 main {
  flex-basis: 70%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-2 main article {
  min-height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-2 footer {
  flex-basis: 15%;
  flex-grow: 0;
  flex-shrink: 0;
}
